body {
    background-color: whitesmoke;
}

.btn {
    background-color: #E5B36F;
    color: black;
}

.sticky-top {
    background-color:  #e35d46;
}

h1 {
    color: white;
}

h5{
    color: #063b44;
}

.row {
    max-width: 95%;
    margin: auto;
}

/* For carousel images to fit on page M. Perikleous */
.images { 
    width: 100%;
    height: 100%;
}

/* Avatar size and position M.Perikleous */
.avatar {
    width: auto;
    height: auto;
}

/* Indicator positioning M.Perikleous */
.carousel-indicators {
    width: auto;
}


/*-- Azure cards make an interresting optical illution where the white background looks as if it where slightly pink. The difference is subtle.*/
.card-body {
    background-color: azure;
}